DATABASE_URL="mysql://marmoteiro:marmoteiro_password@localhost:3306/marmoteiro_db"

APP_URL="http://localhost:3000"
APP_TIMEZONE="America/Sao_Paulo"

BOOKING_SLOT_MINUTES="30"
BOOKING_LOCK_MINUTES="15"

BUSINESS_OPEN_HOUR="9"
BUSINESS_CLOSE_HOUR="18"

ENABLE_MOCK_PAYMENTS="true"

MERCADO_PAGO_ACCESS_TOKEN=""
MERCADO_PAGO_WEBHOOK_SECRET=""

GOOGLE_CALENDAR_ID=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REFRESH_TOKEN=""
